includeConfig 'wf-template/nextflow.config'

manifest {
    name            = 'epi2me-labs/nested-nextflow'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/mattdmem/nested-nextflow'
    description     = 'A demonstration of modularisation'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.1'
    version         = 'v0.0.1'
}